<div class="modal-content">

  <div class="modal-header">
    <h3>{{method}}</h3>
  </div><!-- /.modal-header -->

  <div class="modal-body">

    <div [formGroup]="form">
      <label>Grade Year</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Grade Year" formControlName="gradeYear"
               [required]="true">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-sort-numeric-up"></span>
          </div>
        </div>
      </div>

      <label>Branch</label>
      <div class="input-group mb-3">
        <select class="form-control" formControlName="branch" [required]="true">
          <option [ngValue]="branch" *ngFor="let branch of branches">{{branch.name}}</option>
        </select>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-code-branch"></span>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-body -->
  <div class="modal-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-outline-success mr-2" (click)="save()" [disabled]="form.invalid">Save</button>
      <button type="submit" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    </div>
  </div><!-- /.modal-footer -->

</div> <!-- /.modal-content -->
