/* You can add global styles to this file, and also import other style files */

html, body {
}

body {
  background-color: #bfd1e5;
  color: #61443e;
}

.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin-left: 10px;
}

.th-btn {
  width: 120px;
}

label, h3 {
  font-weight: bold;
  color: black;
}

h1 {
  text-align: left;
  box-sizing: border-box;
  font-family: source-sans-pro, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  font-size: 1.8rem;
  margin: 0;
}



