<div class="wrapper">

  <!--  <audio style="display: none" [autoplay]="true" [loop]="true">-->
  <!--    <source src="https://mp3semti.com/dinle/Sagopa-Kajmer-Bana-Ninni-Okumayin" type="audio/mpeg">-->
  <!--  </audio>-->

  <div *ngIf="authService.isSignedIn()">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>


    <div class="content-wrapper">

      <section class="content px-0">
        <div id="container">
          <router-outlet></router-outlet>
        </div>
      </section>

    </div>
  </div>
</div>

<div *ngIf="!authService.isSignedIn()">
  <router-outlet></router-outlet>
</div>
