<div class="wrapper">

  <!--  <audio style="display: none" [autoplay]="true" [loop]="true">-->
  <!--    <source src="https://mp3semti.com/dinle/Sagopa-Kajmer-Bana-Ninni-Okumayin" type="audio/mpeg">-->
  <!--  </audio>-->

  <div *ngIf="authService.isSignedIn()">
    <app-navbar></app-navbar>

    <div *ngIf="authService.getRole() === 'STUDENT'">
      <aside class="main-sidebar sidebar-light-indigo elevation-5">
        <app-sidebar></app-sidebar>
      </aside>
    </div>
    <div *ngIf="authService.getRole() === 'TEACHER'">
      <aside class="main-sidebar sidebar-light-red elevation-5">
        <app-sidebar></app-sidebar>
      </aside>
    </div>
    <div *ngIf="authService.getRole() === 'ADMIN'">
      <aside class="main-sidebar sidebar-dark-red elevation-5">
        <app-sidebar></app-sidebar>
      </aside>
    </div>




    <div class="content-wrapper">

      <section class="content px-0">
        <div id="container">
          <router-outlet></router-outlet>
        </div>
      </section>

    </div>
  </div>
</div>

<div *ngIf="!authService.isSignedIn()">
  <router-outlet></router-outlet>
</div>
