<div class="modal-content">

  <div class="modal-header">
    <h3>{{method}}</h3>
  </div><!-- /.modal-header -->

  <div class="modal-body">

    <label>Name</label>
    <div [formGroup]="form">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Name" formControlName="name"
               [required]="true">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-signature"></span>
          </div>
        </div>
      </div>
    </div>

    <label>Code</label>
    <div [formGroup]="form">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Code" formControlName="code"
               [required]="true" maxlength="6">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-hashtag"></span>
          </div>
        </div>
      </div>
    </div>

    <label>Description</label>
    <div [formGroup]="form">
      <div class="input-group mb-3">
        <textarea type="text" class="form-control" placeholder="Description" formControlName="description"
               [required]="true" maxlength="250"></textarea>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-audio-description"></span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.modal-body -->

  <div class="modal-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-outline-success mr-2" (click)="save()" [disabled]="form.invalid">Save</button>
      <button type="submit" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    </div>
  </div><!-- /.modal-footer -->

</div> <!-- /.modal-content -->

