<!-- Content Header (Page header) -->
<section class="content-header mb-3">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Live Lesson</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Live Lesson</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="card mr-5 ml-5">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>Class</th>
        <th>Lesson</th>
        <th>Education Season</th>
        <th style="width: 40px">Midterm</th>
        <th style="width: 40px">Final</th>
        <th>Period</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let liveLesson of lessons">
        <td>{{liveLesson.liveLessonId}}</td>
        <td>{{liveLesson._class?.gradeYear + " - " + liveLesson._class?.branch?.name}}</td>
        <td>{{liveLesson.lesson?.name}}</td>
        <td>{{liveLesson.educationSeason?.name}}</td>
        <td><span class="badge bg-blue">{{liveLesson.midtermPercent}}%</span></td>
        <td><span class="badge bg-blue">{{liveLesson.finalPercent}}%</span></td>
        <td>{{liveLesson.period?.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!!- /.card -->

